.post_list__box
  = link_to "詳細ページへ", post_path(post.id)
  .canvas
    .canvas__box1
      .canvas__box1__purpose
        %p.name 目的
        = markdown(post.purpose)
      .canvas__box1__vision
        %p.name ビジョン
        = markdown(post.vision)
    .canvas__box2
      .canvas__box2__solution.small_box
        %p.name 実現手段
        = markdown(post.solution)
      .canvas__box2__advantage_metics.small_box
        .canvas__box2__advantage_metics__advantage
          %p.name 優位性
          = markdown(post.advantage)
        .canvas__box2__advantage_metics__metics
          %p.name 評価指標
          = markdown(post.metics)
      .canvas__box2__value.small_box
        %p.name 提供価値
        = markdown(post.value)
      .canvas__box2__problem.small_box
        %p.name 課題
        = (post.problem)
      .canvas__box2__existing_channel.small_box
        .canvas__box2__existing_channel__existing
          %p.name 代替手段
          = markdown(post.existing)
        .canvas__box2__existing_channel__channel
          %p.name チャネル
          = markdown(post.channel)
      .canvas__box2__customer.small_box
        %p.name 顧客の状況・傾向
        = markdown(post.customer)
    .canvas__box3
      .canvas__box3__revenue
        %p.name 収益
        = markdown(post.revenue)
      .canvas__box3__cost
        %p.name コスト
        = markdown(post.cost)
