.breadcrumbs.breadcrumbs_user_edit
  - breadcrumb :user_edit, @user
  = breadcrumbs separator: " &rsaquo; "
#user_edit_page
  %h2 ユーザーの編集
  .edit_form
    = form_for(current_user) do |f|
      .field
        = f.label :name
        = f.text_field :name, autofocus: true
      .field
        = f.label :email
        = f.email_field :email
      
      -# - if @sns_id.present?
        = hidden_field_tag :sns_auth, true
      -# - else
        .field
          = f.label :current_password
          = f.password_field :current_password, class:"field__input", placeholder:"7文字以上の半角英数字"
        .field
          = f.label :新しいパスワード
          = f.password_field :passwoerd, class:"field__input", placeholder:"7文字以上の半角英数字"
          %p.field__memo ※ 英字と数字の両方を使用してください
        .field
          = f.label :password_confirmation
          = f.password_field :password_confirmation, class:"field__input", placeholder:"7文字以上の半角英数字"
          %p.field__memo ※ 英字と数字の両方を使用してください
      
      = f.submit "更新", class: 'btn'